* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
}

a {
  text-decoration: none;
  color: aliceblue
}

a:hover {
  color: rgba(240, 248, 255, 0.456)
}

textarea {
  display: block;
  background-color: transparent;
  color: rgb(170, 170, 170);
  width: 90%;
  border: none;
  outline: none;
  min-height: 200px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.fit-content {
  width: fit-content
}